{% extends 'base.html' %} {% block styles %}
<link rel="stylesheet" href="../static/styles/pokemonStats.css" />
{% endblock %} {% block content %}
{% include 'includes/nav.html' %}
<div class="container mt-4">
  <!-- <div class="card p-4"></div> -->
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      <label for="pokemonNum" class="form-label">Enter Pokemon Please</label>
      <!-- <input type="text" class="form-control" id="pokemonNUM" name="pokemon_id"> -->
      <div class="d-flex"></div>
      {{ form.pokemon(class="form-control", id="pokemonNum") }}
    </div>
    <!-- <button type="submit" class="btn btn-primary">Search</button> -->
    {{ form.submit_btn(class="btn btn-primary") }}
  </form>
  <!-- {{ pokemon_stats }} -->
  {% if error_code %}
  <div class="alert alert-danger" role="alert">{{error_code}}</div>
  {% endif %} {% if stats %}
  <div class="mt-3"></div>
  <table class="table">
    {% for label, data in stats %}
    <thead>
      <th>{{label}}</th>
    </thead>
    <tr>
      {% if label == 'SpriteURL' %}
        <td><img src="{{ data }}" alt="Pokemon Sprite" class="pokemon-sprite"></td>
      {% else %}
        <td>{{ data }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </table>
</div>
{% endif %} {% endblock %}